<div class=pages_top >
  <div class="container top-index-container">
    <div class ="row">
                <h1 class="text-black">こんにちは。</h1>
                <br>
                <h4 class="text-black">tennis reservationはテニスコートを検索できます。</h4>
                <br>

    </div>
    <div class="row">
                <h2>コート名をキーワード検索を行うか、都道府県名を入力して下さい。</h2>
                <h2>目的のコートを選び詳細ページをご覧ください。</h2>
                
    </div>
    <div class ="row">
      　<div class="col-md-offset-4 col-md-3">
        　<%= link_to 'コート検索',courts_path,class: 'btn btn-block btn-top' %>
      　</div>
      　<div class="col-md-2">
        　<%= link_to 'ユーザー登録',new_user_path,class: 'btn btn-block btn-top' %>
      　</div>
    　　　<div class="col-md-2">
        　<%= link_to 'ログイン',login_path,class: 'btn btn-block btn-top' %>
   　　　</div>
    </div>
    <div class ="row">  
      <div class="col-md-2">
        <%= link_to 'コート作成',new_court_path,class: 'btn btn-bock btn-edit' %>
      </div>
    </div>
  </div>  
</div>